{
    "server_scheme": "http",
    "server_host": "0.0.0.0",
    "server_port": "9999",
    "server_db": "",
    "transfer_scheme": "",
    "transfer_host": "",
    "transfer_port": "",
    "transfer_db": "",
    "server_routes": [
        ["/.*", ""]
    ]
}
